<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>config xml file</comment>
<!-- generate amount of strings -->
<entry key="amount">100</entry>

<!-- mask symbol or string -->
<entry key="mask">*</entry>

<!-- template for use -->
<entry key="template">test*,test*,test*</entry>

<!-- output file with results -->
<entry key="output.file">output.txt</entry>
</properties>